*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top right, aqua,rgb(248, 123, 98));
}

.box {
    background-image: linear-gradient(to bottom right, green,orange);
    height: 300px;
    width: 300px;
    transition: transform 2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.box:hover {
    transform: scale(200%);
}

.first:hover {
    transform: skew(20deg,30deg);
}

.second:hover {
    transform: translate(100px, 50px)
}

.third:hover {
    transform: rotate(-45deg);
}

